# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Chroma DB
chromaDB/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db